.main {
    overflow-x: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fc502c,#f12a00);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: var(--navbar-height); */
} 
.header__navbar-list {
    list-style: none; 
    padding-left: 0; /* mặc định thẻ ul sẽ có padding-left 40px  */
    min-height: 24px;
    margin: 4px 0 0 0;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
    z-index: 1;
}
.header__navbar-item:hover, .header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item, .header__navbar-item-link {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    min-height: 20px;
}
.header__navbar-icon-link, .header__navbar-icon {
    color:  var(--white-color);
    margin: 0 4px;
}
.header__navbar-item, .header__navbar-icon, .header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}
.header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-title--no-pointer {
    cursor: text;
}

/* Header QR */
.header__qr{
    z-index: 1;
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.header__qr::before{
    position: absolute;
    width: 100%;
    height: 30px;
    display: block;
    content: "";
    top: -15px;
    left: 0;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 8px;
}
.header__qr-apps--img{
    height: 16px;
}
/* Header Notification */
.header__notify {
    position: absolute;;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    transform-origin: calc(100%-20px) top;
    animation: headerNotiGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    border-radius: 4px;
}
.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 15px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -18px;
    width: 120px;
    height: 20px;
}
@keyframes headerNotiGrowth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    padding-left: 1.2rem;
}
.header__notify-header h3 {
    color: #999;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
    cursor: text;
}
.header__notify-list {
    padding-left: 0;
}
.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--unread {
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link {
    display: flex;
    padding: 1.2rem;
    text-decoration: none;
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
    /* border-radius: 50%; */
}
.header__notify-info {
    margin-left: 1.2rem;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
}
.header__notify-desc {
    display: block;
    font-size: 1.4rem;
    color: #756f6e;
    margin-top: 4px;
}
.header__notify-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.2rem;
}
.header__notify-footer--btn {
    text-decoration: none;
}
/* Auth form modal */
.auth-form {
    width: 100%;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading {
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form {
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.auth-form__aside {
    margin-top: 20px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls {
    margin: 80px 0 10px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__btn-back {
    margin-right: 16px;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
}
.btn--with-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.btn--with-icon > svg {
    margin-right: 10px;
}
span.btn--with-icon__title {
    margin: 0 8px;
}
.btn.btn--with-icon.btn--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}
.btn.btn--with-icon.btn--google {
    background-color: var(--white-color);
    color: var(--text-color);
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__help-link:nth-child(3) {
    color: var(--text-color);
}
.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 1.5rem;
    margin: 0 16px;
}
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo {
    width: 200px;
}
.header__search {
    height: 40px;
    flex:1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
    padding-left: 10px;
}
.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label {
    font-size: inherit;
    color:var(--text-color);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    position: relative;
    margin: 0 5px;
    top: 4px;
}
.header__search-btn {
    height: 34px;
    width: 60px;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
}
.header__search-btn:hover {
    opacity: 0.8;
}
.header__search-btn-icon {
    color: #fff;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 120px;
    list-style: none;
    padding-left:0;
    box-shadow: 0 1px 2px #e0e0e0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search-select:hover .header__search-option {
    display: block;
    z-index: 1;
}
.header__search-option::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    top: -10px;
}
.header__search-option-item {
    display: flex;
    background-color: var(--white-color);
    padding: 12px;
}
.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-option-item:hover {
    background-color: var(--bg-hover-color);
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-option-item svg {
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}
.header__search-option-item--active svg {
    display: inline-flex;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
    z-index: 1;
}
.header__mobile-search {
    padding: 0 12px;
    display: none;
}
.header__mobile-search-icon {
    color: var(--white-color);
}
.header__search-checkbox:checked ~ .header__search {
    display: flex;
    z-index: 1;
}
/* Cart  */
.header__cart {
    width: 82px;
    display: flex;
    justify-content: flex-end;
}
.header__cart-heading {
    font-size: 1.4rem;
    color: #999;
    padding-left: 1em;
}
.header__cart-list > button {
    float: right;
    margin: 0 1em 1em;
}
/* Giới hạn chiều cao và scroll của cart list  */
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 36vh;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
    padding:1em;
    margin-bottom: 1em;
}
.header__cart-item:hover {
    background-color: var(--bg-hover-color);
    cursor: pointer;
}
.header__cart-item-img {
    width: 36px;
    height: 36px;
    margin-right: 1em;
    border-radius: 3px;
}
.header__cart-item-info {
    width: 100%;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    color: var(--text-color);
    flex: 1;
    padding-right: 10px;
    margin:0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}
.header__cart-item-multiply {
    font-size: 1rem;
    color: #999;
    margin: 0px 4px;
}
.header__cart-item-qantity {
    font-size: 1rem;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}
.header__cart-item-remove {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    transition: all 0.2s;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-badge {
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 1px 6px;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
    z-index: 1;
}
.header__cart-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 400px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}
/* .header__cart-list::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 100%;
    height: 20px;
} */
.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: -22px;
    right: 10px;
    border-width: 12px 14px;
    border-style: solid ;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-no-cart-heading {
    display: none;
}
.header__cart--no-cart .header__cart-no-cart-heading {
    display: block;
}
/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 3px #999;
    display: none;
    overflow: hidden;
}
.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #666;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.header__search-history-item {
    padding: 12px;
}
/* .header__search-history-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
} */
.header__search-history-item:hover {
    background-color: var(--bg-hover-color);
    cursor: pointer;
}
.header__search-history-item > a {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}
/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    width: 100%;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: none;
}
.header__sort-item {
    flex: 1;
    position: relative;
}
.header__sort-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}
.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid var(--border-color);
}
.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}


/* App container */
.app_container {
    background-color: #f5f5f5;
}
.app_content {
    padding-top: 16px;
}
.category {
    border-radius: 2px;
    background-color: var(--white-color);
}
.category-heading {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    margin-top: 0;
    text-transform: uppercase;
}
.category-heading-icon {
    font-size: 1rem;
    width: 20px;
    margin-right: 6px;
}
.category-list {
    padding-left: 0;
    list-style: none;
}
.category-item {

}
.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px;
    display: block;
    right: 0;
    transition: all linear 0.2s;
}
.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}
.category-item--active .category-item__link {
    color: var(--primary-color);
}
.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border-width: 6px 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 0;
    top: 50%;
    transform:translateY(-50%);
}
/* Mobile category */
.mobile-category {
    display: none;
}
.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    justify-content: space-between;
}
.mobile-category__list::-webkit-scrollbar {
    display: none;
}
.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:first-child {
    margin-left: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: var(--primary-color);
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: yellow;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: green;
}
.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2 );
    width: 112px;
    text-align: center;
    display: block;
    border-radius: 3px;
    font-weight: 300px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* home sort + filter */
.home-filter {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}
.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.home-filter__page {
    display: flex;
    align-items: center;
}
.home-filter__btn {
    margin-right: 12px;
}
.select-input__label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.home-filter__page {
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--text-color);
}
.home-filter__page-num {
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
}
.home-filter__page-btn:first-child {
    border-right: 1px solid var(--border-color);
}
.home-filter__page-icon {
    margin: auto;
}
.home-filter__page-icon--disable {
    color: #ccc;
}
.home-filter__page-btn--disable {
    background-color: #f5f5f5;
    cursor: default;
}
/* Home Product  */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transition: all ease 0.2s;
}
.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
}
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* background-size: cover;
    background-position: center; */
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    height: 3.6rem;
    overflow: hidden;
    margin: 10px;
    display: -webkit-box;
    /* display: block; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home-product-item__price {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}
.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action, .home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.home-product-item__action-like {
    font-size: 1rem;
    transform: scale(0.8);
}
.home-product-item__action-rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: var(--border-color);
    margin-left: auto;
}
.home-product-item__action-rating-gold {
    color:#ffce3e;
}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: #595959;
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__brand {

}
.home-product-item__orign-name {
}
.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: currentColor;
    /* filter: opacity(0.9); */
    display: flex;
    align-items: center;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorite span, .home-product-item__favorite-icon {
    color: var(--white-color);
}
.home-product-item__favorite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    filter: brightness(60%);
    border-left: 4px solid transparent;
}
.home-product-item__favorite-icon {
    transform: scale(0.6);
}
.home-product-item__sale {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64,0.9);
    border-top-right-radius: 2px;
}
.home-product-item__sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-style: solid;
    border-width: 0 20px 6px;
    color: rgba(255, 216, 64,0.9);
    border-color: transparent currentColor transparent currentColor;
}
.home-product-item__sale-percent {
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 700;
}
.home-product-item__sale-label {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: uppercase;
}
.home-product__pagination {
    margin: 48px 0 32px 0;
}
/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
}
.footer-list {
    list-style: none;
    padding-left: 0;
}
.footer-item__link {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
    right: 0;
}
.footer-item__link:hover, .footer-item:hover {
    color: var(--primary-color);
    right: -4px;
    fill: var(--primary-color);
}
.footer-item__icon {
    transform: scale(0.8);
    margin-right: 6px;
}
/* .footer-item:hover {
    fill: var(--primary-color);
} */
.footer__download {
    display: flex;
}
.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.footer__download-apps {
    margin-left: 10px;
}
.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 40px;
}
.footer__copyright {
    margin: 10px auto;
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
}
